.notes {
  flex: 1;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  overflow-y: auto;
  padding: 1rem;
}

.note {
  display: flex;
  gap: 1.5rem;
}

/* ---MEDIA QUERIES--- */

@media screen and (min-width: 1280px) {
  .note {
    gap: 3rem;
  }
}
