.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  width: 100%;
  height: 48px;
  border-radius: 56px;
  padding-left: 24px;
  font-size: 1rem;
  font-weight: normal;
  border: 1px solid rgb(137, 151, 155);
  transition: border-color 150ms ease-in-out 0s;
  outline: none;
  color: rgb(33, 49, 60);
  background-color: rgb(255, 255, 255);
  padding-right: 12px;
}

.input:hover {
  box-shadow: rgb(231 238 236) 0px 0px 0px 3px;
}

.colorGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.colors {
  display: flex;
  gap: 1rem;
}

.colorInput {
  display: none;
}

.colorInput + label span {
  display: inline-block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  line-height: 44px;
}

.colorInput:checked + label span {
  border: 2px solid black;
}

@media screen and (min-width: 768px) {
  .inputGroup {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    text-wrap: nowrap;
    gap: 1rem;
  }

  .colorGroup {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .createButton {
    max-width: fit-content;
    margin-left: auto;
  }
}
